/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/*Main*/
.container {
    height: 100vh;
    background: rgb(1,179,120);
    background: linear-gradient(180deg, rgba(1,179,120,1) 20%, rgba(255,255,255,1) 20%);
}
#app {
    height: 100%;
    padding: 50px 0;
}
.main-container {
    background-color: #FFFFFF;
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
}

/*ASIDE*/
.main-container > aside { 
    width: 30%;
}
.main-container > aside > header,
.main-container > section > header { 
    background-color: #EAEAEA;
    height: 80px;
}
.main-container > aside > header > nav,
.main-container > section > header > nav,
.main-container > section > header > nav > div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container > aside > header > nav > ul,
.main-container > section > header > nav > ul,
.main-container > section > header > nav > div { 
    display: flex;  
    list-style: none;
    align-items: center;
    padding: 15px;
}
.main-container > aside > header > nav > ul > li > span,
.main-container > section > header > nav > div > div > p:first-child {     
    font-size: 1.5rem;
    padding-left: 5px;
    font-weight: bold;
}
.main-container > aside > header > nav > ul > li > a,
.main-container > section > header > nav > ul > li > a {     
    text-decoration: none;
    color: grey;
    font-size: 1.25rem;
    padding-left: 20px;
}
.main-container > aside > header > nav > ul > li > img,
.main-container > section > header > nav > ul > li > img,
.main-container > section > header > nav > div > img { 
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.activate-notification {
    background-color: lightblue;
    padding: 15px;
    display: flex;
    height: 60px;
}
.activate-notification > span > i:first-child {
    color: white;
}
.activate-notification > span > i:last-child {
    color: lightblue;
}
.activate-notification > div {
    padding-left: 5px;
}
.activate-notification > div > a {
    color: grey;
    font-size: 0.75rem;
}

.search-container {
    display: flex;
    height: 50px;
}
.search-container > :first-child{
    width: 30px;
    height: 30px;
}
.search-container > :last-child{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    flex-grow: 1;
}
.search-container > *  {
    padding: 20px;
}
main {
    height: calc(100% - 190px);
    overflow-y: auto;
}
.active {
    background-color: #EAEAEA;
}
.contact-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 5px;
}
.contact-container > div {
    flex-grow: 1;
    padding-left: 5px;
    padding-bottom: 5px;
}
.contact-container > div > p:first-child {
    font-size: 1.25rem;
    font-weight: bold;
}
.contact-container > div > p:last-child,
.main-container > section > header > nav > div > div > p:last-child {
    font-size: 0.75rem;
    color: grey;
}
.last-message-time {
    font-size: 0.75rem;
    color: grey;
    position: absolute;
    top: 20%;
    right: 2%;
}

.contact-container > img { 
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}

/*CHAT SECTION*/

.main-container > section { 
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    position: relative;
}
.main-container > section > main {
    height: calc(100% -140px);
    padding: 50px;
    
}
.main-container > section > footer {
    height: 60px;
    width: 100%;
    background-color: #F3EEEA;
    position: absolute;
    bottom: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer-container > i{
    font-size: 1.5rem;
    padding: 20px;
    color: gray;
}
.footer-container > input {
    flex-grow: 1;
    padding: 10px;
    height: 50%;
    border: none;
    border-radius: 5px;
}

.message-container {
    display: flex;
    margin: 10px 0 10px;
    background-color: aqua;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
   
}
.message {
    padding-right: 30px;
}

.time {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: gray;
    font-size: 0.75rem;
}
.sent {
    text-align: left;
    background-color: #D5F9BA;
   
    width: 50%;

}
.received {
    background-color: white;
   
    width: 50%;
}