<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>

        <!--fontawesome link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--CSS-->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div id="app">
                <div class="main-container">
                    <!--sezione contatti-->
                    <aside>
                        <header>
                            <nav>
                                <ul>
                                    <li>
                                        <img src="img/avatar_io.jpg" alt="avatar_io">
                                    </li>
                                    <li>
                                        <span>Sofia</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-message"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </header>
                        <div class="activate-notification">
                            <span class="fa-stack">
                                <i class="fa-solid fa-circle fa-stack-2x "></i>
                                <i class="fa-solid fa-bell-slash fa-stack-1x "></i>
                            </span>
                            <div>
                                <p>
                                    Ricevi notifiche di nuovi messaggi
                                </p>
                                <a href="#">
                                    Attiva le notifiche desktop
                                </a>
                            </div>
                           
                        </div>
                        <div class="search-container">
                            
                            <div>
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            </div>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                            
                            
                        </div>

                        <main>
                            <div v-for="(contact, index) in contacts" 
                            class="contact-container "
                            :class="{
                                'active': index == activeConcactIndex
                            }"
                            @click="clickContactChat(index)">
                                <img :src="contact.avatar" alt="contact.name">
                                <div>
                                    <p>
                                        {{ contact.name }}
                                    </p>
                                    <p class="last-message-info">
                                        Ultimo messaggio inviato
                                    </p>
                                </div>
                                <span class="last-message-time">12:00</span>
                            </div>
                        </main>
                    </aside>


                    <!--sezione chat-->
                    <section>
                        <header>
                            <nav>
                                <div>
                                    
                                        <img :src="contacts[activeConcactIndex].avatar" :alt="contacts[activeConcactIndex].name">
                                   
                                        <div>
                                            <p>
                                                {{ contacts[activeConcactIndex].name }}
                                            </p>
                                            <p class=>
                                                Ultimo accesso oggi alle 12:00
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                                    </li>
                                    <li>
                                       <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            
                        </header>
                        
                        <main>

                            <div v-for="(msg, index) in contacts[activeConcactIndex].messages" 
                            class="message-container "
                            :class="{
                                'sent': msg.status == 'sent',
                                'received': msg.status == 'received'
                            }">
                                <div class="message-item ">
                                    <div class="message">
                                        {{ msg.message }}
                                    </div>
                                    <div class="time">
                                        {{ msg.date }}
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="message-container received">
                                <div class="message-item ">
                                    <div class="message">
                                        Hai portato a spasso il cane?
                                    </div>
                                    <div class="time">
                                        15:30
                                    </div>
                                </div>
                            </div> -->
                        </main>

                        <footer>
                            <div class="footer-container">
                                
                                    <i class="fa-regular fa-face-smile"></i>
                                
                                
                                    <input type="text" placeholder="Scrivi un messaggio">
                                
                                
                                    <i class="fa-solid fa-microphone"></i>
                                
                            </div>
                        </footer>
                    </section>

                </div>
            

            </div>
        </div>
        

        <!-- VUEJS Link -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--MY js link-->
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>